---
layout: default
---

<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    {%- if page.center-title -%}
    <div style="text-align: center;">
      <h1 style="font-weight: bold" class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>
      <i><h2 class="post-subtitle" style="color: #828282;">{{ page.subtitle | escape }}</h2></i>
    </div>
    {%- else -%}
      <h1 style="font-weight: bold" class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>
      <i><h2 class="post-subtitle" style="color: #828282;">{{ page.subtitle | escape }}</h2></i>
    {%- endif -%}

    <hr>

    <p class="post-meta">
      {%- if page.write-date -%}
        <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
          {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
          {{ page.date | date: date_format }}
        </time>
      {%- endif -%}
      {%- if page.author -%}
        • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span class="p-author h-card" itemprop="name">{{ page.author }}</span></span>
      {%- endif -%}</p>
      <script src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript"></script>
  
      {% if page.katex %}

      <!-- CSS -->
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@latest/dist/katex.min.css"/>

      <!-- JavaScript -->
      <script defer src="https://cdn.jsdelivr.net/npm/katex@latest/dist/katex.min.js"></script>
      <script defer src="https://cdn.jsdelivr.net/npm/katex@latest/dist/contrib/auto-render.min.js"
        onload="renderMathInElement(document.body,{
          delimiters: [
            { left: '$$',  right: '$$',  display: true  },
            { left: '$',   right: '$',   display: false },
            { left: '\\[', right: '\\]', display: true  },
            { left: '\\(', right: '\\)', display: false }
        ]});">
      </script>

      {% endif %}
    </header>

  <div class="post-content e-content" itemprop="articleBody">
    {{ content }}
  </div>

  {%- if site.disqus.shortname -%}
    {%- include disqus_comments.html -%}
  {%- endif -%}

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>

  <script>
    var acc = document.getElementsByClassName("accordion");
    console.log(acc);
    for (let i = 0; i < acc.length; i++) {
      acc[i].addEventListener("click", function() {
        this.classList.toggle("active");
        var panel = this.nextElementSibling;
        if (panel.style.maxHeight) panel.style.maxHeight = null;
        else panel.style.maxHeight = panel.scrollHeight + "px";
      });
    }
  </script>
</article>
